@font-face {
    font-family: Cabin;
    src: url(font/Cabin-VariableFont_wdth\,wght.ttf) format("truetype");
}

:root {
    --verdeEscuro: #798252;
    --verdeClaro: #CCD595;
    --branco: #f4f0ea;
    --marrom: #331f19;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--branco);
    color: var(--verdeEscuro);
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

header {
    padding: 2rem;
    background-color: var(--marrom);
    text-align: center;
    color: var(--verdeClaro);
}

div {
    width: 60%;
    margin: 0 auto;
}

figcaption {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

div {
    margin: 0 auto;
    text-align: center;
    margin-top: 1rem;
}

div img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin: 0 auto;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 900px) {
    div {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    div {
        width: 80%;
    }
}