@font-face {
    font-family: Cabin;
    src: url(./font/Cabin-Italic-VariableFont_wdth\,wght.ttf) format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f0ea;
    color: #798252;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

header{
    padding: 2rem;
    background-color: #331f19;
    text-align: center;
}

main{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2{
    font-size: 1.2rem;
    color: #331f19
}

img{
    width: 15rem;
    height: 15rem;
    border-radius: 5px;
}

fieldset{
    border: 2px solid #CCD595;
    border-radius: 5px;
    padding: 1rem; 
}

legend{
    color: #331f19;
    padding: 0;
}

textarea{
    background-color: transparent;
    outline: none;
    border-radius: 5px;
    border: 2px solid #CCD595;
}

button{
    background-color: #CCD595;
    border: none;
    padding: 0.5rem;
    color: #331f19;
    border-radius: 5px;
    cursor: pointer;
}

footer{
    background-color:  #331f19;
    padding: 2rem;
    text-align: center;
}

a{
    text-decoration: none;
    color: #CCD595;
}

.FlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 65%;
    height: 80vh;
    overflow: auto;
    flex-direction: row;
}

.FlexContainer div {
    width: 300px;
    height: 300px;
    margin: 5px;
}