@font-face {
    font-family: Cabin;
    src: url(./font/Cabin-Italic-VariableFont_wdth\,wght.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f0ea;
    color: #798252;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

header {
    padding: 2rem;
    background-color: #331f19;
    text-align: center;
    color: #CCD595;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h2 {
    font-size: 1.4rem;
    color: #331f19;
    text-align: center;
}

.flex-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container div {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    width: 100%;
    max-width: 250px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-container div:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


.flex-container img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto;
    border-radius: 5px;
}

.flex-container figcaption {
    color: #798252;
    font-weight: 500;
    margin-top: 10px;
}

.flex-container p {
    color: #331f19;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    background-color: #331f19;
    padding: 1rem;
    text-align: center;
}

footer a {
    color: #CCD595;
}

@media (max-width: 900px) {
    .flex-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .flex-container {
        grid-template-columns: 1fr;
    }
}