@font-face {
    font-family: Cabin;
    src: url("font/Cabin-VariableFont_wdth\,wght.ttf") format("truetype");
}

:root {
    --verdeEscuro: #798252;
    --verdeClaro: #CCD595;
    --branco: #f4f0ea;
    --marrom: #331f19;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--branco);
    color: var(--verdeEscuro);
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

header {
    padding: 2rem;
    background-color: var(--marrom);
    text-align: center;
    color: var(--verdeClaro);
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h2 {
    text-align: center;
}

p {
    font-size: 1.0rem;
    color: var(--verdeClaro);
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.card {
    border: none;
    border-radius: 20px;
}

.card-title {
    text-align: center;
    color: var(--verdeEscuro);
    font-weight: 500;
}

.card-img-top {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    object-fit: contain;
    image-rendering: crisp-edges;
    width: 150px;
    max-height: 150px;
}


footer {
    background-color: var(--marrom);
    padding: 2rem;
    margin-bottom: 0px;
    margin-top: auto;
    text-align: center;
}

footer a {
    color: var(--verdeClaro);
}