@font-face {
    font-family: Cabin;
    src: url("../font/Cabin-VariableFont_wdth\,wght.ttf") format("truetype");
}

:root {
  --verdeEscuro: #798252;
  --verdeClaro: #ccd595;
  --branco: #f4f0ea;
  --marrom: #331f19;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--branco);
  color: var(--verdeEscuro);
  font-family: "Cabin", sans-serif;
  font-weight: 400;
}

header {
  background-color: var(--marrom);
  color: var(--verdeClaro);
  padding: 0.4rem;
}

footer {
  background-color: var(--marrom);
  color: var(--verdeClaro);
}

form {
  font-size: 20px;
}

textarea {
  border-radius: 20px !important;
  resize: both;
  transition: border-color 0.3s ease;
}

#mensagem {
  font-size: 1rem;
}

article h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}
